::-moz-selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

::-webkit-selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

body {
    border: 0 none;
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", "\5b8b\4f53", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background: #e0e0e0;
}

a {
    color: #369;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 40px;
    color: #fff;
    background: #222;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(top, #252525, #0a0a0a);
    background: -moz-linear-gradient(top, #252525, #0a0a0a);
    background: -ms-linear-gradient(top, #252525, #0a0a0a);
    background: -o-linear-gradient(top, #252525, #0a0a0a);
    background: linear-gradient(top, #252525, #0a0a0a);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
}

nav.preparing {
    display: none;
}

nav ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 12px;
}

nav a:hover {
    background: #f9f9f9;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#e5e5e5));
    background: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5);
    background: -moz-linear-gradient(top, #f9f9f9, #e5e5e5);
    background: -ms-linear-gradient(top, #f9f9f9, #e5e5e5);
    background: -o-linear-gradient(top, #f9f9f9, #e5e5e5);
    background: linear-gradient(top, #f9f9f9, #e5e5e5);
    color: #373737;
}

nav li:last-child a {
    background: #d24d21;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d54e21), to(#b4421c));
    background: -webkit-linear-gradient(top, #d54e21, #b4421c);
    background: -moz-linear-gradient(top, #d54e21, #b4421c);
    background: -o-linear-gradient(top, #d54e21, #b4421c);
    background: linear-gradient(top, #d54e21, #b4421c);
    color: #fff;
    text-shadow: #b5421c 1px 1px 1px;
}

nav li:last-child a:hover {
    color: #ffac90;
    text-shadow: #666 1px 1px 1px;
}

div {
    width: 800px;
    margin: 0 auto;
}

section {
    position: relative;
    overflow:hidden;
}

section:before {
    /*content: "\273d";*/
    content: ""
    text-align: center;
    line-height: 1;
    position: absolute;
    width: 800px;
    top: 20px;
}

section:first-child:before {
    display: none;
}

h2 {
    font-family: "Microsoft Yahei", "\5b8b\4f53", Georgia, serif;
    font-size: 20px;
    text-shadow: 0 1px 0 #fff;
    margin: 0 0 0 -30px;
    padding: 70px 0 0 0;
    -webkit-transition: margin 300ms ease-in-out;
    -moz-transition: margin 300ms ease-in-out;
    -ms-transition: margin 300ms ease-in-out;
    -o-transition: margin 300ms ease-in-out;
    transition: margin 300ms ease-in-out;
}

.desktop h2:hover {
    color: #369;
    cursor: pointer;
}

.nojs h2,
section:target h2 {
    margin: 0;
}

.nojs section:first-child h2 {
    padding: 30px 0 0 0;
}

h2:before {
    content: "\21e8";
    text-align: center;
    width: 30px;
    height: auto;
    display: inline-block;
}

img {
    width: 120px;
    height: 180px;
    padding: 4px;
    border: 1px solid #369;
    float: right;
    margin: 10px 20px 0 0;
    background: #f5f5f5;
}

h3 {
    font-size: 16px;
    margin: 20px 0 10px;
}

p {
    margin: 10px 0;
}

p.print {
    display: none;
}

span,
time {
    display: inline-block;
    padding-right: 10px;
    width: 140px;
    font-weight: normal;
}

time {
    width: 649px;
}

footer {
    width: 800px;
    margin: 40px auto 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

footer p:before {
    content: "\ab\3000";
}

footer p:after {
    content: "\3000\bb";
}

footer a {
    text-decoration: none;
}

/* pad portrait */
@media(max-width:850px) {
    nav,
    div,
    section:before,
    footer {
        width: 100%;
    }
    nav ul,
    section h2 ~ :not(img) {
        padding: 0 20px;
    }
    nav a {
        font-size: 14px;
    }
    img {
        margin: 10px 40px 0 0;
    }
    h2,
    .nojs h2,
    section:target h2 {
        margin: 0 0 0 20px;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    h2:before {
        display: none;
    }
}

/* smartphone landscape */
@media(max-width:650px) {
    nav,
    img {
        display: none;
    }
    section:first-child h2 {
        padding: 30px 0 0 0;
    }
}

/* smartphone portrait */
@media(max-width:450px) {
    section:before {
        display: none;
    }
    h2,
    .nojs h2,
    .nojs section:first-child h2,
    section:first-child h2,
    section:target h2 {
        padding: 20px;
        margin: 0;
        background: #999;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaa), to(#888));
        background: -webkit-linear-gradient(top, #aaa, #888);
        background: -moz-linear-gradient(top, #aaa, #888);
        background: -ms-linear-gradient(top, #aaa, #888);
        background: -o-linear-gradient(top, #aaa, #888);
        background: linear-gradient(top, #aaa, #888);
        text-shadow: 0 1px 0 #ccc;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #555;
    }
    h2:after {
        content: "\25bc";
        float: right;
        color: #777;
    }
    .mobile h2:after {
        content: "\25c0";
        color: #444;
    }
    .mobile section:target h2 {
        background: #bbb;
        border-bottom: 1px solid #999;
    }
    .mobile section:target h2:after {
        content: "\25bc";
        color: #777;
    }
    .mobile section h2 ~ * {
        display: none;
    }
    .mobile section:target h2 ~ :not(img) {
        display: block;
    }
    .mobile section:target h2 ~ p.print {
        display: none;
    }
    p {
        margin: 20px 0;
    }
    span {
        display: inline-block;
        width: 90px;
    }
    time {
        display: block;
        margin-bottom: 5px;
    }
}

/* smartphone */
@media only screen and (min-device-width:320px) and (max-device-width:480px) {}

/* print */
@media print {
    * {
        background: none;
        color: #000;
    }
    nav,
    img {
        display: none;
    }
    section h2,
    .desktop section h2 {
        margin: 0 0 0 20px;
        text-shadow: none;
    }
    section:first-child h2,
    .desktop section:first-child h2 {
        padding: 20px 0 0;
    }
    section:first-child:before,
    h2:before {
        display: none;
    }
    a {
        text-decoration: none;
    }
    a:after {
        content: " [ " attr(href) " ] ";
    }
    a.print:after {
        display: none;
    }
    p.screen {
        display: none;
    }
    p.print {
        display: block;
    }
}
@page {
    margin: 30mm 15mm;
}
