---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">
            <!--  Posted by
            <a href="#">Start Bootstrap</a>
            on -->{{ page.date | date: '%Y年%m月%d日' }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <hr>

      <div class="clearfix">

        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; 上一<span class="d-none d-md-inline">页</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">下一<span class="d-none d-md-inline">页</span> &rarr;</a>
        {% endif %}

      </div>

    </div>

    <div>
      <button class="question_button">疑问？勘误？</button>
      <div class="text_container hidden" >
        <div>
              <ul class="contract">
                  {% if page.weixinurl %}
                    <li>公众号留言：<a href="{{ page.weixinurl }}">文章链接</a></li>
                  {% else %}
                    <li>微信搜索公众号“冯兄画戟”并留言</li>
                  {% endif %}
                  <li>邮箱私信：<a href="mailto:fengmengzhao@gmail.com>">fengmengzhao@gmail.com</a></li>
              </ul>
              <img src="https://gitee.com/fengmengzhao/fengmengzhao.github.io/raw/5d493ef39cf5fbab6f1e82a09eee4877c009f488/img/fxh-gzh.png" />
        </div>
      </div>
    </div>

  </div>
    {% if page.comment == true %}
        <div id="gitmentContainer"></div>
        <link rel="stylesheet" href="/assets/vendor/gitment/css/gitment.css">
        <script src="/assets/vendor/gitment/js/gitment.js"></script>
        <script>
        var gitment = new Gitment({
            id: "{{ page.date }}",
            owner: 'FengMengZhao', //比如我的叫nilzzzz
            repo: 'fengmengzhao.github.io', //比如我的叫nilzzzz.github.io
            oauth: {
                client_id: 'e0d1b3375f67b4f4af6c', //比如我的828***********
                client_secret: 'ac8f80bb31d7ccd562f3c2737f9d02eb78c89fc1', //比如我的49e************************
                                
            },

            });
        gitment.render('gitmentContainer');
        </script>
    {% endif %}
</div>
